.main-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.about {
  font-size: 48px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
}

.heading {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.cse {
  font-size: 40px;
  padding-top: 0px;
  margin-top: 0px;
  text-align: left;
  margin-left: 20px;
}

.top {
  display: flex;
  width: 100vw;
  padding: 0 10%;
  gap: 30px;
  justify-content: space-between;
  align-items: flex-end;
}

.image-container {
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  overflow: hidden;
  width: 80%;
  max-width: 700px;
  min-width: 280px;
}

.image-container img {
  width: 100%;
}

.image-container h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(13.348px);
  padding: 15px 0;
}

.vision {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.21);
  padding: 30px 30px;
  margin-top: 50px;
  border-radius: 20px;
}

.vision h2,
.content h2 {
  color: #B9B0DB;
  font-size: 26px;
  padding-bottom: 10px;
}

.content {
  background-color: rgba(0, 0, 0, 0.21);
  width: 80vw;
  padding: 30px 30px;
  margin: 10px 0;
  margin-top: 20px;
  border-radius: 20px;
}

.heading2 {
  display: none;
}

.heading2 .top {
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.heading2 .top h1 {
  text-align: center;
}


#vision-top {
  display: none;
}


@media only screen and (max-width: 925px) {
  #vision-top {
    display: block;
  }

  .image-container {
    width: 280px !important;
  }

  .heading {
    display: none;
  }

  .heading2 {
    display: flex;
  }
}


@media only screen and (max-width: 600px) {
  .heading2 .top .about {
    font-size: 30px;
  }

  .heading2 .top .cse {
    font-size: 26px;
  }

  .vision h2,
  .content h2 {
    color: #B9B0DB;
    font-size: 22px;
    padding-bottom: 10px;
  }
}