* {
  box-sizing: border-box;
}

body {
  background-color: #251430;
  color: white;
}

span {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 96%;
  padding: 30px 0;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card {
  width: 90%;
  margin: 20px 0;
  height: auto;
  padding: 20px 40px;
  border-radius: 20prgba (0, 0, 0, 0.166);
  border: 1px solid #00000038;
  display: flex;
  background: rgba(0, 0, 0, 0.159);
  /* opacity: 0.2; */
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 40px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
}

.content p {
  width: 85%;
  font-size: 20px;
}

img {
  display: block;
  width: 24rem;
  border-radius: 5px;
  margin: 30px 15px 30px 0;
}

.dsa {
  width: 18rem;
}

.hod {
  width: 32rem;
}

.content h3 {
  color: #b9b0db;
  padding-bottom: 5px;
}

@media screen and (max-width: 1150px) {
  .content span {
    display: flex;
    flex-direction: colum;
  }
}

@media screen and (max-width: 850px) {
  article {
    display: flex;
    flex-direction: column-reverse;
  }

  .content span {
    display: flex;
    flex-direction: column;
  }

  .image {
    align-self: center;
  }

  img {
    width: 200px;
    margin: auto;
    padding-bottom: 2rem;
  }

  .content p {
    width: 100%;
    font-size: 15px;
  }

  .card {
    width: 98%;
    margin: 20px 0;
    height: auto;
    padding: 20px 20px;
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
  }

  .content h3 {
    color: #b9b0db;
    padding-bottom: 5px;
  }
}
